<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/opret.css}">

</head>
<body>
<header class="header">
    <a th:href="@{/}" class="logo">
        <img src="/images/gift.png" alt="logo">
        <span>WISHLIST</span>
    </a>

    <div class="header-icons">
        <button type="button" class="icon-btn">
            <img src="/images/bell-ring.png" alt="Notification">
        </button>

        <button type="button" class="icon-btn">
            <img src="/images/user-round.png" alt="Profile">
        </button>

        <button type="button" class="login-btn">Login</button>
    </div>
</header>

<main>
    <section class="create-page-container">
        <div class="create-card">
            <h1>Create wishlist</h1>
            <hr>

            <form th:action="@{/createWishlist}" method="post" class="create-form">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           id="name"
                           name="name"
                           placeholder="e.g. Birthday, Christmas..."
                           required>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category">
                        <option value="">Choose category</option>
                        <option>Birthday</option>
                        <option>Christmas</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description"
                              name="description"
                              placeholder="Write a shot description..."></textarea>
                </div>

                <input type="hidden" name="userId" value="1">

                <button type="submit" class="create-btn-submit">
                    Create wishlist
                </button>

            </form>
        </div>
    </section>
</main>

<footer>
    <h2>Contact info</h2>
    <div class="footer-info">
        <div class="footer-contact">
            <span>email@example.com</span>
            <span>+45 12 34 56 78</span>
        </div>
        <div class="footer-SoMe-group">
            <button type="button" class="footer-SoMe">Facebook</button>
            <button type="button" class="footer-SoMe">Instagram</button>
        </div>
    </div>
    <hr>
    <div class="footer-collaborators">
        <div class="collaborators-boxes">
            <h4>Collaborators:</h4>
            <div class="partner-box">NIKE</div>
            <div class="partner-box">Apple</div>
            <div class="partner-box">Zalando</div>
            <div class="partner-box">Zalando</div>
            <div class="partner-box">SAMSUNG</div>
        </div>
    </div>
</footer>

</body>
</html>