<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ønskelister</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <header class="header">
        <a th:href="@{/}" class="logo">
            <img src="/images/gift.png" alt="logo">
            <span>WISHLIST</span>
        </a>

        <div class="header-icons">
            <button type="button" class="icon-btn">
                <img src="/images/bell-ring.png" alt="Notification">
            </button>

            <button type="button" class="icon-btn">
                <img src="/images/user-round.png" alt="Profile">
            </button>

            <button type="button" class="login-btn">Login</button>
        </div>
    </header>

    <main class="page-main">
        <div class="detail-header">
            <div>
                <h1>Birthday</h1>
                <p>Made: 01/01-2026, 3 wishes</p>
            </div>
            <div class="detail-actions">
                <button type="button" class="share-btn">Share list</button>
                <button type="button" class="edit-btn">Edit</button>
                <button type="button" class="delete-btn">Delete list</button>
            </div>
        </div>

        <div class="wishes-section">
            <section class="wishes-panel">
                <div class="panel-header wishes-panel-header">
                    <h2>Wishes</h2>
                    <p class="wishes-add-link">+ Add wish</p>
                </div>
                <div class="wishes-grid">
                    <article class="wish-card">
                        <div class="wish-card-info">
                            <h3 class="wish-card-title">Nike Air Max</h3>
                            <p>Nike str. 42</p>
                            <p>1.299 kr.</p>
                        </div>
                        <hr>
                        <div class="wish-card-actions">
                            <button type="button" class="wish-status">Not reserved</button>
                            <div class="wish-card-buttons">
                                <button type="button" class="edit-btn">Edit</button>
                                <button type="button" class="delete-btn">Delete</button>
                            </div>
                        </div>
                    </article>

                    <article class="wish-card">
                        <div class="wish-card-info">
                            <h3 class="wish-card-title">AirPods Pro</h3>
                            <p>Apple</p>
                            <p>1.999 kr.</p>
                        </div>
                        <hr>
                        <div class="wish-card-actions">
                            <button type="button" class="wish-status">Not reserved</button>
                            <div class="wish-card-buttons">
                                <button type="button" class="edit-btn">Edit</button>
                                <button type="button" class="delete-btn">Delete</button>
                            </div>
                        </div>
                    </article>

                    <article class="wish-card full-width">
                        <div class="wish-card-info">
                            <h3 class="wish-card-title">Lego</h3>
                            <p>Lego Architecture</p>
                            <p>799 kr.</p>
                        </div>
                        <hr>
                        <div class="wish-card-actions">
                            <button type="button" class="wish-status">Reserved</button>
                            <div class="wish-card-buttons">
                                <button type="button" class="edit-btn">Edit</button>
                                <button type="button" class="delete-btn">Delete</button>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>


    <footer>
        <h2>Contact info</h2>
        <div class="footer-info">
            <div class="footer-contact">
                <span>email@example.com</span>
                <span>+45 12 34 56 78</span>
            </div>

            <div class="footer-social-group">
                <button type="button" class="footer-social-btn">Facebook</button>
                <button type="button" class="footer-social-btn">Instagram</button>
            </div>
        </div>
        <hr>
        <div class="footer-collaborators">
            <div class="collaborators-boxes">
                <h4>Collaborators:</h4>
                <div class="partner-box">NIKE</div>
                <div class="partner-box">Apple</div>
                <div class="partner-box">Zalando</div>
                <div class="partner-box">Zalando</div>
                <div class="partner-box">SAMSUNG</div>
            </div>
        </div>
    </footer>
</body>
</html>
